/* Calender.css */
.calendar {
  border: 1px solid #ccc;
  width: 100%;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%; /* Set the width to 100% */
}

.calendar-header button {
  background: none;
  border: none;
  cursor: pointer;
}

.calendar-header button:focus {
  outline: none;
}

.calendar-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #ccc; /* Add border at the top of the calendar body */
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px; /* Add gap between date elements */
}

.calendar-day {
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc; /* Add border around each date element */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s;
}

.calendar-day:hover {
  transform: scale(0.92);
  background-color: var(--golden);
  text-align: center;
  border: 1px solid #ccc; /* Add border around each date element */
}

.empty-day {
  background-color: #f8f9fa;
  border: 1px solid #ccc; /* Add border around empty day */
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.time-slot {
  width: calc(20% - 10px); /* Adjust width for 5 slots in a row */
}
